.Head {
    width:40vw;
    height:85vh;
    margin: 3vw auto;
    padding: 20px;
   background-color: grey;
   border-radius: 50px;
   box-shadow: 10px 10px rgb(255, 255, 255);
}
.signup {
    background-color: #ffffff;
    color: #006317;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
}
.form {
    margin-top:1vw;
    display: flex;
    flex-direction: column;
}
h1{
    color: #ffffff;
}
label {
    margin-top:1vw;
    margin-bottom: 5px;
    color: white;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.err {
    color: #dc3545;
    margin-top: 2px;
}
button{
    width:10vw;
    margin-top:3vw;
    padding: 10px ;
    margin-left:15vw;
    background-color: #00c220e4;
    box-shadow: 2px 2px 3px #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.btnname{
    margin-left: -350px;
    margin-top: -20px;
    background-color: black;
    color: white;
}